.cg-notify-frombottom {
    bottom:0px;
}
.cg-notify-fromtop {
    top:0px;
}
.cg-notify-fromleft {
    left:0px;
}
.cg-notify-fromright {
    right:0px;
}
.cg-notify-message {
    position:fixed;
    z-index: 9999;
    max-width:400px;
    text-align: center;
    background-color: #d9edf7;
    color: #31708f;
    padding: 10px;
    border: 1px solid #bce8f1;
    border-radius: 4px;
    visibility:hidden;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -webkit-transition: bottom 0.5s ease-out, top 0.5s ease-out, left 0.5s ease-out, right 0.5s ease-out, opacity 0.2s ease-out;
    -moz-transition: bottom 0.5s ease-out, top 0.5s ease-out, left 0.5s ease-out, right 0.5s ease-out, opacity 0.2s ease-out;
    transition: bottom 0.5s ease-out, top 0.5s ease-out, left 0.5s ease-out, right 0.5s ease-out, opacity 0.2s ease-out;
    animation-name : flash;
    animation-duration: 0.5s;
}

.cg-notify-message-top-left {
    left:10px;
    top:10px;
}

.cg-notify-message-top-right {
    right:10px;
    top:10px;
}

.cg-notify-message-bottom-left {
    left:10px;
    bottom:10px;
}

.cg-notify-message-bottom-right {
    right:10px;
    bottom:10px;
}

.cg-notify-message a {
    font-weight:bold;
    color:inherit;
}

.cg-notify-message a:hover {
    color:inherit;
}

.cg-notify-close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;

    position: absolute;
    top: 0px;
    right: 3px;
    line-height: 15px;    
}

.cg-notify-close:hover, .cg-notify-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

.cg-notify-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
@keyframes flash {
    0%   {background-color: #d9edf7;}
    50%  {background-color: #f2dede;}
    100% {background-color: #d9edf7;}
}